@model IEnumerable<School.Models.Author>

@{ 
    ViewBag.Title = "List of Authors";
}

<h2>You are listing authors</h2>
<div>There  are @Model.Count() authors in the system</div>
<form method="get" action="/Author/List">
    <input type="text" name="searchkey" value="" placeholder="Type a name here" />
    <input type="submit" value="Search" />
</form>
<div>
    @{ 
        foreach(School.Models.Author Author in Model)
        {
        <div>
            <span>@Author.AuthorFName @Author.AuthorLName</span>
        </div>
            
        }

    }
</div>