@model School.Models.Class

@{ 
    ViewBag.Title = "Show Class";
}

<h2>Show Class</h2>

<div>
  <span>Class Code :</span> @Model.ClassCode
</div>
<div>
    <span>Class Name:</span> @Model.ClassName
</div>
<div>
    <span>Start Date:</span> @Model.ClassStartDate
</div>
<div>
    <span>Finsh Date :</span> @Model.ClassFinishDate
</div>