@model School.Models.Teacher

@{ 
    ViewBag.Title = "Delete Teacher";
}

<h2>Are you sure you want to delete this teacher ?</h2>

<div>
     <span> @Model.TeacherEmployeeNumber </span> - <span> @Model.TeacherFName  @Model.TeacherLName </span>
 </div>
<!--<form  method="POST" name="delete_teacher" id="delete_teacher" @*action="/teacher/delete/@Model.TeacherId"*@> -->
    <input type="hidden" value="@Model.TeacherId"  name="id" id="id"/>
    <button onclick="processDeleteForm();">Delete</button>

<!--</form> -->

<script>

    

</script>
