@model School.Models.Student

@{ 
    ViewBag.Title = "Show Student";
}

<h2>Show Student</h2>

<div>
  <span>Student Number :</span> @Model.StudentNumber
</div>
<div>
    <span>First Name:</span> @Model.StudentFName
</div>
<div>
    <span>Last Name:</span> @Model.StudentLName
</div>
<div>
    <span>Enrolled:</span> @Model.StudentEnrolDate
</div>